
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.container-fluid
{
    width: 100%;
}


.about-left{
    background-color: burlywood;
    height: 100%;
}
.about-right{
    background-color: bisque;
    height: 100%;
}
.body-part{
    margin:auto;
    margin-top: 36px;

}